<include file="Public/header" title="后台主页" />
<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h2>欢迎使用智能水族管理后台</h2>
                <p>系统基本功能如下:</p>
                <ul>
                    <li>用户意见</li>
                    <li>消息推送</li>
                    <li>用户管理</li>
                </ul>
                <p><span class="pull-right">技术支持: zjuandroid@163.com </span></p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div><!-- /.row -->


    <!-- /.row -->

    <!-- /.row -->

</div>

<include file="Public/footer" />