<include file="Public/header" title="用户详细信息" />
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-6">
            <legend vertical-align="middle">头像</legend>
        </div>
        <div class="col-md-6">
            <img src=__ROOT__/Uploads/Avatar/57610b640b1d5.jpg width=50 height=60 vertical-align="middle">
        </div>
    </div>
    <div>
        <legend vertical-align="middle">昵称：</legend>
    </div>
    <div>
        <legend vertical-align="middle">性别：</legend>
    </div>
    <div>
        <legend vertical-align="middle">所在地区：</legend>
    </div>
    <div>
        <legend vertical-align="middle">街道地址：</legend>
    </div>
    <div>
        <legend vertical-align="middle">养鱼经验：</legend>
    </div>
    <div>
        <legend vertical-align="middle">擅长鱼种：</legend>
    </div>
    <div>
        <legend vertical-align="middle">鱼缸：</legend>
    </div>
    <div>
        <legend vertical-align="middle">鱼缸：</legend>
    </div>
    <div>
        <legend vertical-align="middle">鱼缸：</legend>
    </div>
    


</div>

<include file="Public/footer" />